extends ../../../index.pug

block scene
    //- a-assets

    a-sky(color="#00000a")

    a-light.sky_light(type="ambient" color="#fff" intensity="0.3")
    a-light.sky_light(type="point" position="0 4 0" color="#fff" intensity="0.5")
    //- a-entity.sky_weather(position="0 0 0" particle-system="preset: snow; particleCount: 5000; velocityValue: 1 4 1;")

    //- global objects
    a-entity#player(position="0 0 0")
        a-camera(wasd-controls="acceleration: 165;")
            a-cursor(position="1 0 0" color="#aaa" fuse="true" fuse-timeout="700" raycaster="objects: .interactive" cursor-events)
                a-animation(begin="fusing" end="mouseleave" attribute="color" from="#aaa" to="#ffa" dur="700" easing="ease-in")
                a-animation(begin="fusing" end="mouseleave" attribute="scale" to="1.5 1.5 1.5" dur="700" easing="ease-in")

                a-animation(begin="mouseleave" attribute="color" from="#ffa" to="#aaa" dur="0" easing="ease")
                a-animation(begin="mouseleave" attribute="scale" to="1 1 1" dur="100" easing="ease")

                a-animation(begin="click" attribute="color" from="#ffa" to="#aaa" dur="100" easing="ease-in")
                a-animation(begin="click" attribute="scale" to="2 2 2" dur="150" easing="ease")
                a-animation(begin="click" attribute="scale" to="1 1 1" delay="150" dur="200" easing="ease")

    a-entity#world
    //- a-entity#world(blend-model=`src: url(${require('app/pages/clara/scene.json')})`)
        
block ui
    div ololo
