//- img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg")
//- img#skyTexture(crossorigin src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg")
img#groundTexture(crossorigin src="https://cdn.aframe.io/a-painter/images/floor.jpg")

img#tex-bg-forest(src="/assets/textures/forest3.png")
img#tex-bg-piter(src="/assets/textures/piter2.png")
img#tex-photo-1(src="/assets/photos/scene1/portal1.png")
img#tex-photo-2(src="/assets/photos/scene1/portal2.png")
img#tex-photo-3(src="/assets/photos/scene1/Nickolay_black.png")
img#tex-photo-4(src="/assets/photos/scene1/hleb.png")
img#tex-photo-5(src="/assets/photos/scene1/red dawn.png")
img#tex-photo-6(src="/assets/photos/scene1/petrograd.png")

img#tex-text-1(src="/assets/photos/scene1/text1.png")
img#tex-text-2(src="/assets/photos/scene1/text2.png")
img#tex-text-3(src="/assets/photos/scene1/text3.png")
img#tex-text-4(src="/assets/photos/scene1/text4.png")
img#tex-text-5(src="/assets/photos/scene1/text5.png")
img#tex-text-6(src="/assets/photos/scene1/text6.png")
img#tex-text-7(src="/assets/photos/scene1/text7.png")
img#tex-text-8(src="/assets/photos/scene1/text8.png")
img#tex-text-9(src="/assets/photos/scene1/text9.png")
img#tex-text-10(src="/assets/photos/scene1/text10.png")
img#tex-text-11(src="/assets/photos/scene1/text11.png")
img#tex-text-12(src="/assets/photos/scene1/text12.png")
img#tex-text-13(src="/assets/photos/scene1/text13.png")
img#tex-text-14(src="/assets/photos/scene1/text14.png")
img#tex-text-15(src="/assets/photos/scene1/text15.png")
img#tex-text-16(src="/assets/photos/scene1/winter.png")
img#tex-text-17(src="/assets/photos/scene1/Russia.png")

img#tex-ui-tip-1(src="/assets/photos/scene1/tip1.png")

img#tex-particle-1(src="/assets/textures/explosion_map.png")
img#tex-particle-2(src="/assets/textures/particle-smoke.jpg")
img#tex-particle-3(src="/assets/textures/flare2.png")
img#tex-fx-linear(src="/assets/textures/alphaMaps/linear.jpeg")
img#tex-fx-portal(src="/assets/textures/alphaMaps/portal.jpeg")
img#tex-fx-burnout(src="/assets/textures/alphaMaps/burnout.png")


audio#audio-bg-1(src="/assets/audio/scene1/background1.wav")
audio#audio-click(src="/assets/audio/scene1/trigger_on.wav")
audio#audio-text1(src="/assets/audio/scene1/text1.mp3")
audio#audio-text2(src="/assets/audio/scene1/text2.wav")
audio#audio-trigger2(src="/assets/audio/scene1/2_train_horn.mp3")
audio#audio-text5(src="/assets/audio/scene1/text5.wav")
audio#audio-text6(src="/assets/audio/scene1/text6.wav")
audio#audio-text7(src="/assets/audio/scene1/text7.wav")
audio#audio-text9(src="/assets/audio/scene1/trigger_off.wav")
audio#audio-text10(src="/assets/audio/scene1/trigger_on.wav")
audio#audio-platform(src="/assets/audio/scene1/platform_turning.mp3")

audio#audio-sfx-11(src="/assets/audio/scene1/1_train_sound.wav")
audio#audio-sfx-1(src="/assets/audio/scene1/1_train_back.mp3")
audio#audio-sfx-2(src="/assets/audio/scene1/img_appear-1.wav")
audio#audio-sfx-3(src="/assets/audio/scene1/img_appear-2.wav")
audio#audio-sfx-4(src="/assets/audio/scene1/2_train_back.mp3")
audio#audio-sfx-5(src="/assets/audio/scene1/nikolay_deleted.wav")

//- mixins
a-mixin#debug(material="visible: true; wireframe: true; color: red; shader: flat; opacity: 0.4")
a-mixin#debug-ray(geometry="primitive: box; width: 0.1; depth: 2000;" material="shader: flat; color: yellow; opacity: 0.5")

a-mixin#halfSphere(geometry="primitive: sphere; radius: 15; thetaLength: 90;")
a-mixin#sphere(geometry="primitive: sphere; radius: 50;")

a-mixin#trigger(material="visible: false;" trigger="")
a-mixin#trigger-particles(class="particles" gpu-particle-system="maxParticles: 100; lifetime: 4; spawnRate: 20; opacity: 0.7; size: 2; color: #f53; positionSpread: 20 0 20; velocity: 0 2 0; velocitySpread: 2 1 0; accelerationSpread: 1 1 1; texture: #tex-particle-1;")

a-mixin#black(material="shader: flat; color: #000;")
a-mixin#grey(material="color: #aaa; roughness: 1;")
